:root {
}

.custom-input-field {
    flex-grow: 1;
    max-height: 7%;
}

.custom-input-field > .unity-base-field__label {
    display: none;
}

.custom-input-field > .unity-base-field__input {
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    border-width: 1px;
    border-color: rgb(68, 68, 68);
    padding: 6px 10px;
    font-size: 38px;
    -unity-font-definition: url("project://database/Assets/Font/HelveticaNeue-main/HelveticaNeue-CondensedBlack.ttf?fileID=12800000&guid=e62e3fe37f8654dfda7536581863965d&type=3#HelveticaNeue-CondensedBlack");
    padding-left: 24px;
    -unity-text-align: middle-center;
    padding-top: 14px;
}

.custom-input-field > .unity-base-field__input:hover {
    border-color: rgb(59, 130, 246);
}

.custom-input-field > .unity-base-field__input:focus {
    border-color: rgb(96, 165, 250);
    background-color: rgb(26, 26, 26);
}
